.slider-container{
    width: 400px;
    height: 100px;
    overflow: hidden;
}
.slider{
    transition: all 1s;
}
.slide{
    width: 400px;
    height: 100px;
}
.dots{
    text-align: left;
    margin-top: 10px;
}
.dot{
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer; 
}
.activeDot{
    background: #ccc;
}