<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <app-products></app-products>
  <div class="slider-container">
    <div class="slider" [style.transform]="sliderService.translateY">
      <div class="slide" [style.background]="slide.color" *ngFor="let slide of sliderService.slides" [class.active]="slide.active"></div>
    </div>
  </div>

  <div class="dots">
    <div class="dot" *ngFor="let slide of sliderService.slides" [class.activeDot]="slide.active" (click)="sliderService.go(slide)"></div>
  </div>

  <button (click)='sliderService.previous()'>Previous</button>
  <button (click)='sliderService.next()'>Next</button>

</div>